@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --header-height: 3rem;
    --first-color:#FCAAA6;
    --first-color-dark:#C1576A;
    --first-color-darken:#A83E51;
    --white-color:#FCF8F8;
    --body-font: 'Poppins', san-serif;
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;
    --z-fixed: 100;
}

@media screen and (min-width : 768px){
    :root{
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
    }
}

*,::before,::after{
    box-sizing: border-box;
}

body{
    margin: var(--header-height) 0 0 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

h1,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .nav_menu{
        position: fixed; 
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 3.5rem 1.5rem 0;
        background: rgb(255, 255, 255, .3);
        backdrop-filter: blur(10px);
        transition: .5;
    }
}

.nav_close{
    position:absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav_item{
    margin-bottom: 2rem;
}

.nav_close, .nav_link, .nav_logo, .nav_toggle{
    color: var(--white-color);
}

.nav_link:hover{
    color: var(--first-color-dark);
}

.nav_toggle{
    font-size: 1.5rem;
    cursor: pointer;
}

.show{
    right: 0;
}


