*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: #007bff !important;
}

h1{
    text-align: center;
    margin: 50px auto 120px !important;
    color: #fff;
}

.main{
    width: 100%;
    min-height: 380px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.service{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
}

.service-logo{
    width: 130px;
    height: 130px;
    
}